<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2-xsGx-gqu0gTohPlbEws8ySUMuRExNU</string>
	<key>GCM_SENDER_ID</key>
	<string>296535717159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>chat-app-c82f6</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-c82f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296535717159:ios:e5bc1baee532941e8aa502</string>
</dict>
</plist>